body {
  font-family: 'Poppins', sans-serif;
  font-display: swap;
  max-width: 1980px;
  margin: 0 auto;
  background: url(../images/background.png) repeat;
  background-size: 100px;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 170px;
  }
  .rsc {
    left: 0;
    width: 80%;
  }
}

.rsc * {
  font-family: 'Poppins', sans-serif;
}

.full-page-controls {
  position: fixed;
  left: 1%;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
}
.full-page-controls button:first-child {
  display: none;
}
.full-page-controls button:last-child {
  display: none;
}
.full-page-controls button {
  background: green;
  border: none;
  margin: 0.5rem 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  color: green;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0;
}

.full-page-controls button:disabled {
  background: gray;
  color: #06d6a0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.full-page-controls {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .full-page-controls {
    display: none;
  }
}
